.notebooks-loader {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0rem;

  .search-and-create {
    display: flex;
    gap: 2rem;
  }

  .groups {
    list-style-type: none;

    &__item {
      height: 24rem;
      border-radius: 0.4rem;
      background-color: $loading-color;
    }
  }
}
