// Colors
$first-color: #453c67;
$second-color: #584b8b;
$third-color: #46c2cb;
$fourth-color: #f2f7a1;

$error-color: #ef4444;
$loading-color: #e2e1e9;

$navbar-height: 8rem;

$first-color-tint: #cec9ec;
$first-color-tinter: #e3e1f0;

$first-color-shade: #929097;

$edit-color: rgb(0, 182, 0);
$delete-color: red;
