.text-area {
  font-size: 1.3rem;

  @include respond(tablet) {
    font-size: 1.8rem;
  }

  textarea {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: inherit;
    border-radius: 0.2rem;
    border: 1px solid $first-color;
    outline: none;
    margin-top: 0.4rem;
    font-family: inherit;
    height: 12rem;
    resize: none;
    line-height: 2.8rem;

    @include respond(tablet) {
      font-size: 1.8rem;
    }

    @include respond(phone-large) {
      height: 14rem;
    }
  }
}
