.notebooks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0rem;

  .search-and-create {
    display: flex;
    gap: 2rem;

    @include respond(phone-large) {
      gap: 1rem;
    }
  }
}
