.details-loader {
  &--desktop {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: $loading-color;
    height: 2rem;
    border-radius: 0.4rem;
    width: 40rem;

    @include respond(phone-large) {
      display: none;
    }
  }

  &--mobile {
    font-size: 1.6rem;
    font-weight: 400;
    display: none;
    background-color: $loading-color;
    height: 2rem;
    border-radius: 0.4rem;
    width: 10rem;

    @include respond(phone-large) {
      display: block;
    }
  }
}
